---
import Layout from "../layouts/Layout.astro";
import UnitGroup from "@/components/UnitGroup.astro";
import properties from "../constants/properties";

const availableCount = properties.map(x => x.units.filter(y => y.is_available).length).reduce((a, b) => a + b)
---

<Layout title="Calavo Street Properties">
  <div class="flex flex-col gap-y-2 mb-9">
    <div class="mx-auto text-center">
      <h1 style="font-family: Fredericka the Great;">
        Calavo Street Properties
      </h1>
      <div class="font-semibold">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.google.com/maps/place/110+S+Calavo+St,+Santa+Paula,+CA+93060/@34.3399911,-119.0894452,17.42z/data=!4m5!3m4!1s0x80e9b50124bf64c5:0x90bad8b3f389389e!8m2!3d34.3400851!4d-119.0877226"
        >
          110 S Calavo St, CA 93060
        </a>
      </div>
      <i>
        Available Units: { availableCount }
      </i>
    </div>

    <img
      class="w-full rounded-md mb-4"
      src="/img/carousel_1.jpg" alt="Calavo Street Properties">

    {
      properties.map((item) => {
        return <div class="card">
          <UnitGroup property={item}/>
        </div>
      })
    }
  </div>
</Layout>

<style></style>
